.wrapper {
    color: white;
    background-image: linear-gradient(#2e3192, #1bffff);
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("brain.jpg") center/cover fixed no-repeat;
    border: 1px solid black;
    height: 100vh;
    width: 100vw;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 0.25rem;
}
.positive {
    color: red;
}
.negative {
    color: green;
}
.predict {
    text-align: center;
}
#detecttum:hover {
    border: 3px solid white;
}
#detecttum:disabled {
    cursor: not-allowed;
}
